<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A deserunt laudantium aperiam sit nam ex similique, pariatur dolor, incidunt odit illum atque corporis, porro iusto esse sed alias delectus soluta!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
        <img src="../../../assets/media/placeholder.png" class="img-fluid img-proyecto">
        </div>

    </div>
</div>