<div class="row">
  <h1>Hard Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/media/CS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/media/HTML.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/media/CSS.png'"
    [showImage]="true"
    [imageHeight]="95"
    [imageWidth]="65"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/media/Word.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [imageSrc]="'../assets/media/PowerPoint.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>  
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/media/Excel.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="40"
    [radius]="100"
    [imageSrc]="'../assets/media/GH.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/media/DW.png'"
    [showImage]="true"
    [imageHeight]="90"
    [imageWidth]="90"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/media/PS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/media/EN.png'"
    [showImage]="true"
    [imageHeight]="110"
    [imageWidth]="110"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
</div>
<div class="row">
  <h1>Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/media/creatividad.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/media/lider.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../assets/media/communication.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#006666'"
    [innerStrokeColor]="'#fff5bb'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div> 
</div>